# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Testing & Cache
.pytest_cache/

# Project specific & Downloaded Media
downloads/
*.mp4
*.m4a
*.mp3
*.flac
*.webm
*.mkv
*.srt
*.vtt

# Package management & Builds
*.egg-info/
dist/
build/